.box{
    width: 40%;
    height: 100px;
    border: 5px solid red;
    background-color: beige;
   
}

#center{
        margin: auto
}

#inline{
        display: inline-block
}

#group{
    position: relative
    }

#corner{
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-color: aquamarine;
        width:10%;
        height: 40px
}

#bottom-right{
        position: fixed;
        right:0px;
        bottom: 0px;
}
